* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 80%;
  margin: 0 auto;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background: #edf7ff;
}
.select {
  margin-top: 50px;
  height: 40px;
  width: 40%;
  font-size: 20px;
}

.list {
  overflow: auto;
  height: calc(100vh - 150px);
}

.list__wrapper {
  display: flex;
  background: white;
  margin-top: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.list__day {
  font-size: 20px;
}
.list__wrapper:first-child {
  margin-top: 0;
}

.child__wrapper {
  display: flex;
  flex-direction: column;
  width: 48%;
  flex-wrap: wrap;
}
.childs {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.childs:first-child {
  margin-bottom: 5px;
}
.child__static {
}
.child__value {
  padding: 3px;
  background: #edf7ff;
}

.list__right {
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
}
.main__left {
  width: 68%;
}
.main__right {
  width: 30%;
  background-color: #1bbc9b;
  height: calc(100vh - 300px);
  text-align: center;
}
.main-right__title {
  color: #edf7ff;
  margin-top: 25px;
}
.main-right__count {
  font-size: 50px;
  color: white;
  margin: 70px 0;
}
